.gt-images-ctn {
    background-image: url('../../assets/img/header/liston-azul.webp');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    min-height: 458px;
  }
  
  .gt-images-ctn-hero {
    background-image: url('../../assets/img/guiasTuristicas/guiasTuristicasBanner.webp');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: top;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 92px 0;
    min-height: 258px;
   
  }

  .gt-images-title {
    text-align: left;
    font-size: var(--txt-title-xl);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    margin-top: 42px ;
    margin-left: 50px;
    color: var(--white);
  }

  .gt-images-ctn-hero-description {
    margin-left: 42px;
  }