.videos-slider-ctn {
	box-sizing: border-box;
	overflow: hidden;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	position: relative;
}

.videos-slider-title {
	text-align: center;
	font-size: var(--txt-title-xl);
	font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
	color: var(--purple);
	margin: 64px 0 0 0;
}

.videos-slider-ctn-carousel {
	height: 650px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 0 7%;
}

.videos-slider-ctn-carousel .css-1qzevvg {
  position: absolute !important;
  z-index: 2;
  bottom: 37px;
  left: calc(41.5vw - 40px);
  color: #fff;
  cursor: pointer;
}

.videos-slider-ctn-carousel .css-1fzpoyk {
	width: 650px;
	height: 550px !important;
}

.videos-slider-ctn-carousel-item-video {
	height: 100%;
	width: 100%;
}

.videos-slider-ctn-carousel-item {
	border-radius: 12px;
}

.video-slider-description {
	font-size: var(--txt-h5-xl);
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}