.experience-aventure-hero-images-ctn {
  padding: 190px 0 90px 0;
  background-image: url('../../assets/img/header/Fondoamarrillo.webp');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.experience-aventure-hero-images-ctn-hero {
  /* background-image: url('../../assets/img/experiences/bg.webp');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.experience-aventure-hero-images-ctn-hero-description {
  margin-left: 42px;
}

.experience-aventure-hero-images-img-experience-aventure-hero-hero {
  width: 100%;
  height: 850px;
  object-fit: cover;
}

.experience-aventure-hero-images-title {
  text-align: center;
  font-size: var(--txt-title-xl);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  margin-top: 42px;
  color: var(--purple);
}