.header-ctn {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 12px; 
}

.header-ctn-logo {
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-logo {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.header-ctn-menu {
  font-weight: 700;
}

.header-ctn-menu-ul-secondary {
  width: 100%;
}

.header-menu-ul-secondary {
  list-style: none;
  padding: 0;
}

.header-menu-li-secondary {
  margin: 6px 0;
}

.header-menu-li-secondary a {
  text-decoration: none;
  color: var(--gray);
}

.header-menu-li-secondary a:hover {
  color: var(--grey);
}

.header-ctn-menu-ul-primary {
  width: 100%;
}

.header-menu-ul-primary {
  list-style: none;
  padding: 0;
}

.header-menu-li-primary {
  margin: 6px 0;
}

.header-menu-li-primary a {
  text-decoration: none;
  color: var(--black);
}

.header-menu-li-primary a:hover {
  color: var(--gray);
}

.header-menu-select {
  height: 38px;
  width: 100%;
  background: var(--purple);
  border: none;
  border-radius: 10px;
  padding: 8px;
  color: white;
  font-weight: 700;
}

.select-search-container {
  --select-search-background: #fff;
  --select-search-border: var(--gray);
  --select-search-selected: var(--black);
  --select-search-text: var(--black);
  --select-search-subtle-text: #6c6f85;
  --select-search-inverted-text: var(--select-search-background);
  --select-search-highlight: #eff1f5;
  --select-search-font: 'Roboto', sans-serif;
  border-style: none;
  border-radius: 3px;
  position: relative;
  font-family: 'Roboto';
  color: var(--black);
  box-sizing: border-box;
  width: 260px;
}

.select-search-input {
  position: relative;
  z-index: 1;
  display: block;
  height: 38px;
  width: 100%;
  background: var(--select-search-background);
  border: 2px solid var(--select-search-border);
  color: var(--select-search-text);
  border-radius: 3px;
  outline: none;
  font-family: 'Roboto';
  font-size: 16px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 18px;
  letter-spacing: 0.01rem;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 744px) {
  .header-ctn {
    height: 180px;
    font-size: var(--txt-p-sm);
  }
  
  .header-ctn-logo {
    display: flex;
    height: 100%;
  }

  .header-logo {
    width: 220px;
    height: 60px;
  }

  .header-ctn-menu {
    flex: 1 0 60%;
    margin-left: 28px;
  }

  .header-ctn-menu-ul-secondary {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .header-menu-ul-secondary {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 470px;
    margin: 0;
  }

  .header-menu-li-secondary {
    flex: 1 0 auto;
  }

  .header-menu-select {
    flex: 1 0 auto;
    width: 120px;
    max-width: 120px;
  }

  .header-ctn-menu-ul-primary {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .header-menu-ul-primary {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    width: auto;
    margin: 12px 0 0;
    border-top: 2px solid var(--grey);
    padding-top: 12px;
  }

  .header-menu-li-primary {
    flex: 1 0 auto;
    position: relative;
  }

  .header-ctn-submenu-primary {
    display: none;
  }

  .header-menu-li-primary:hover .header-ctn-submenu-primary {
    display: block;
    position: absolute;
    width: 450px;
    left: 0;
    height: 160px;
    border-radius: 10px;
    padding: 12px;
  }

  .header-ctn-submenu-link-primary {
    height: 27px;
    width: 100%;
    display: flex;
  }

  .header-submenu-link-primary {
    height: 100%;
    width: 100%;
  }

  .header-submenu-link-img-primary {
    display: none;
  }

  .claseImage {
    display: flex;
    height: 85%;
    width: 65%;
    object-fit: cover ;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }
  

  .header-ctn-submenu-link-primary:hover .header-submenu-link-img-primary {
    display: flex;
    height: 85%;
    width: 65%;
    object-fit: cover ;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }

  .header-ctn-sub-submenu-link-primary {
    display: none;
  }

  .header-ctn-submenu-link-primary:hover .header-ctn-sub-submenu-link-primary {
    display: block;
    position: absolute;
    left: 150px;
    top: 30px;
    height: 50px;
    width: 160px;
    background: #fff;
    padding: 12px;
    border-radius: 9px;
    z-index: 1;
    border: 1px solid var(--grey);
  }
  
}

@media (min-width: 992px) {
  .header-ctn {
    font-size: var(--txt-p-xl);
    height: 130px;
    padding: 12px 32px;
  }

  .header-menu-ul-secondary {
    width: 990px;
  }

  .header-menu-ul-primary {
    gap: 22px;
  }

  .header-menu-li-primary:hover .header-ctn-submenu-primary {
    width: 550px;
    left: -350%;
    height: 420px;
    padding: 22px;
    z-index: 99;
    background: #fff;
  }

  .header-ctn-submenu-link-primary:hover .header-submenu-link-img-primary {
    height: 94%;
  }
}