.magic-towns-description-ctn {
	box-sizing: border-box;
	padding: 190px 0 64px 0;
  background-image: url('../../assets/img/header/liston-azul.webp');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.magic-towns-description-title {
	text-align: left;
	font-size: var(--txt-title-xl);
	font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
	color: var(--blue);
} 

.magic-towns-description-ctn-description {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	padding: 0 32px;
}

.magic-towns-description-ctn-img {
	flex: 1 0 30%;
}

.magic-towns-description-img {
	width: 100%;
	height: 870px;
	aspect-ratio: 3/4;
	object-fit: cover;
}

.magic-towns-description-ctn-text {
	flex: 1 0 60%;
}

.magic-towns-description-ctn-decription-text {

}

.magic-towns-description-decription-text {
	font-size: var(--txt-h5-xl);
	text-align: justify ;
}


.magic-towns-icon-des{
	width: 10%;
	left: 100px;
	align-self:center;
}

.iconPuebloMagico{
	width: 100%;
	background-color: aqua;
	
}