.home-the-most-viewed-ctn {
  background: whitesmoke;
  height: 970px;
  width: 100%;
  box-sizing: border-box;
}

.home-the-most-viewed-title {
  font-size: var(--txt-title-xl);
  text-align: center;
  margin: 0  0 32px 0;
  color: var(--purple);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  /*text-shadow: 5px 5px 3px var(--grey);*/
}

.home-the-most-viewed-ctn-sections {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "a a b c"
    "a a d e";
  gap: 20px;
  padding: 200px 32px 0 32px;
  background-image: url('../../assets/img/header/liston-azul.webp');
  background-repeat: no-repeat;
  background-size: 100% 120px;
  background-position: top;
  height: 600px;
}

.home-the-most-viewed-ctn-sections-card-0 {
  grid-area: a;
}

.home-the-most-viewed-ctn-sections-card-1{
  grid-area: b;
}

.home-the-most-viewed-ctn-sections-card-2{
  grid-area: c;
}

.home-the-most-viewed-ctn-sections-card-3{
  grid-area: d;
}

.home-the-most-viewed-ctn-sections-card-4 {
  grid-area: e;
}

.home-the-most-viewed-ctn-sections-card-0,
.home-the-most-viewed-ctn-sections-card-1,
.home-the-most-viewed-ctn-sections-card-2,
.home-the-most-viewed-ctn-sections-card-3,
.home-the-most-viewed-ctn-sections-card-4 {
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.home-the-most-viewed-ctn-sections-card-0:hover .home-the-most-viewed-sections-card-img,
.home-the-most-viewed-ctn-sections-card-1:hover .home-the-most-viewed-sections-card-img,
.home-the-most-viewed-ctn-sections-card-2:hover .home-the-most-viewed-sections-card-img,
.home-the-most-viewed-ctn-sections-card-3:hover .home-the-most-viewed-sections-card-img,
.home-the-most-viewed-ctn-sections-card-4:hover .home-the-most-viewed-sections-card-img {
  transform: scale(1.2);
  transition: 0.4s;
}

.home-the-most-viewed-sections-card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.home-the-most-viewed-ctn-sections-card-hover {
  display: none;
}

.home-the-most-viewed-sections-card-hover-title {
  color: #fff;
  font-weight: 700;
  font-size: var(--txt-h2-xl);
  text-align: center;
}

.home-the-most-viewed-ctn-sections-card-0:hover .home-the-most-viewed-ctn-sections-card-hover,
.home-the-most-viewed-ctn-sections-card-1:hover .home-the-most-viewed-ctn-sections-card-hover,
.home-the-most-viewed-ctn-sections-card-2:hover .home-the-most-viewed-ctn-sections-card-hover,
.home-the-most-viewed-ctn-sections-card-3:hover .home-the-most-viewed-ctn-sections-card-hover,
.home-the-most-viewed-ctn-sections-card-4:hover .home-the-most-viewed-ctn-sections-card-hover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
